

body {
    font-family: 'Inter', sans-serif;
    background-image: url('/assets/FondoPharmahome.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;

    min-height: 100vh; 
    color: #333;
} 
