body{
    font-family: 'inter';
    box-sizing: border-box;
}

h1{
    font-size: 42px;
    font-weight: inherit;
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid transparent;
    border-radius: 50px;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(90deg, #8c52ff, #00bf63) border-box;
    background-clip: padding-box, border-box;
    margin-left: 20%;
    margin-right: 20%;
    box-sizing: border-box;


    label{
        font-size: 18px;
        font-weight: inherit;
        padding: 10px;
        align-self: first baseline;
        margin-left: 24%;
    }

    input{
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        border: 3px solid transparent;
        border-radius: 10px;
        background:
        linear-gradient(white, white) padding-box,
        linear-gradient(90deg, #8c52ff, #00bf63) border-box;
        background-clip: padding-box, border-box;
        box-sizing: border-box;
        font-size: 18px;
    }

    button{

        font-size: 21px;
        font-weight: inherit;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 50%;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 25px;
        border: none;
        background: linear-gradient(45deg, #8c52ff, #00bf63);
        color: white
    }



    .info-box{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        box-sizing: border-box;
        gap: 10%;

        .info-pic,.info-text{
            flex : 1;
            
        }
       
    }


}